.container {
  margin-top: 100px;
  padding-left: 8vw;
  display: flex;
  align-items: center;
}
.title {
  color: #33789a;
  margin-bottom: 0.5em;
  display: inline-block;
  padding-right: 1em;

  border-bottom: 4px solid #33789a;
}
.video {
  width: 50vw;
}
.description {
  width: 30vw;
  color: #414141;
  margin-right: 4vw;
  margin-top: -4vh;
}
.strong {
  color: #33789a;
  font-weight: 900;
}
.others {
  margin-top: 1em;
}
.logo {
  height: 10vh;
  min-height: 25px;
  max-height: 36px;
  margin-left: 0.5em;
}
.smallLogo {
  margin-top: 1em;
  height: 0.8em;
}
.about {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.aboutTxt {
  font-weight: 700;
  font-size: 1.2em;
}
@media (max-width: 900px) {
  .container {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5vh;
    margin-top: 90px;
  }
  .description {
    width: 84vw;
    margin: 0;
    margin-bottom: 2em;
  }
  .description p {
    width: 100;
  }
  .video {
    width: 84vw;
  }
}
