.nav_bar {
  display: flex;
  padding: 0 8vw;
  align-items: center;
  padding-top: 1vh;
  width: 100vw;
  top: 0;
  z-index: 100;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
}
.logo {
  margin-top: 1vh;
  min-height: 50px;
  max-height: 100px;
  height: 5vh;
  opacity: 0.89;
  margin-right: 1em;
}
.logo span {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}
.logo_container {
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.links_container {
  display: flex;
  width: 40vw;
  justify-content: space-around;
  font-size: 0.8em;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: #414141;
  margin-top: -20px;
}
.links_container a::before {
  content: "";
  position: relative;
  right: 15px;
  top: 15px;
  display: inline-block;
  height: 35px;
  border-left: 4px solid #33789a;
  transition: all 0.2s ease-in-out;
}

.links_container a:hover::before {
  border-color: rgb(20, 60, 78);
}

.active_dropdown,
.dropdown_btn {
  margin-right: 10px;
  height: 28px;
}
.dropdown_btn div,
.active_dropdown div {
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: 3px;
  background-color: rgb(59, 59, 59);
}
.active_dropdown div {
  margin-bottom: -3px;
}
.active_dropdown .middle {
  display: none;
}
.dropdown_btn:hover {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.active_dropdown .first {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.active_dropdown .last {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown_btn {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
