html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: calc(0.5vw + 9px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "lato", "sans-serif";
  background-color: #ffffff;
  line-height: 1.7;

  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
textarea,
div,
input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}
@media (max-width: 600px) {
  html {
    font-size: calc(0.5vw + 12px);
  }
}
